$cor-quadro-titulo: #f0101090;
$cor-fundo-um: black;
$cor-fundo-dois: #ffb500;
$cor-fundo-tres: #0068ac;
$cor-fundo-quatro: #8302a7;
$cor-fundo-cinco: white;
$cor-fundo-seis: #f01010;
$cor-fundo-rodape: white; 
$cor-fundo-texto: #fff;
$cor-texto-vermelho: #f01010;
$cor-fundo-texto-preto: black;
$cor-texto: white;
$cor-texto1: #0068ac; 
$cor-texto2:#ffb500;
$cor-borda-top: #f01010;
$cor-fundo-rodape: #f01010;
$cor-borda: white;
$borda-um: black;